.table {
  margin: 4rem auto;
  width: 80%;

  .centerAlign {
    text-align: center;
    font-size: 1.1rem;
  }

  .rightAlign {
    text-align: right;
    font-size: 1.1rem;
  }

  th {
    height: 25px;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(13, 204, 242, 0.4);
  }

  td {
    text-align: center;
  }

  .sparkline {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 0.5rem;
  }

  .current {
    text-align: right;
  }
  .low {
    text-align: right;
    color: rgb(255, 97, 115);
  }

  .high {
    text-align: right;
    color: rgb(82, 179, 114);
  }
}
