.nav {
  background-color: rgba(24, 26, 27, 0.95);
  width: 100vw;
  padding: 3rem 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 98;
  border-bottom: 1px solid rgba(13, 204, 242, 0.2);
}

.header {
  font-size: 2.25rem;
  position: fixed;
  top: 1.5rem;
  left: 4rem;
  z-index: 99;
}

.header::before {
  background: linear-gradient(
    to right,
    rgba(13, 204, 242, 1),
    rgba(13, 204, 242, 0.2)
  );
  padding: 1.5rem;
  width: 20px;
  border-radius: 50%;
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -12px;
  left: -20px;
  z-index: -1;
}
