.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
}

.input {
  border: 1px solid rgba(245, 245, 245, 0.4);
  border-radius: 4px;
  color: whitesmoke;
  label {
    color: whitesmoke;
  }
  input {
    color: whitesmoke;
  }
  svg {
    color: whitesmoke;
  }
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10rem;
  p {
    font-size: 1.1rem;
    margin-top: 1rem;
  }
}
